{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_customer %}
        Add Customer
    {% else %}
        Edit Customer
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_customer %}
                <h1>Add Customer</h1>
            {% else %}
                <h1>Edit Customer</h1>
            {% endif %}
            <br/>
            <form action="{{ url_for('customer.add_customer') }}" method="POST">
                {{ form.csrf_token }}
            <div class="form-group required">
                <label class="control-label">{{ form.products.label }}</label>
                {{ form.products }}
                <label class="control-label">{{ form.frequency.label }}</label>
                {{ form.frequency }}
            </div>
            <div class="form-group required">
                <label class="control-label">{{ form.start_subsc_date.label }}</label>
                {{ form.start_subsc_date }}
                <label class="control-label">{{ form.is_active.label }}</label>
                {{ form.is_active }}
            </div>
            <div class="form-group required">
                <label class="control-label">{{ form.name.label }}</label>
                {{ form.name }}
            </div>
            <div class="form-group required">
                <label class="control-label">{{ form.mobile.label }}</label>
                {{ form.mobile }}
            </div>
            <div class="form-group required">
                <label class="control-label">{{ form.address.label }}</label>
                {{ form.address }}
            </div>
            <input type="Submit">
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}