{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Inventory{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Inventory</h1>
        {% if inventory %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="12.5%"> ID </th>
                  <th width="12.5%"> Name </th>
                  <th width="12.5%"> Quantity </th>
                  <th width="12.5%"> Expiry Date </th>
                  <th width="12.5%"> Edit </th>
                  <th width="12.5%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for item in inventory %}
                <tr>
                  <td> {{ item.productID }} </td>
                  <td> {{ item.product }} </td>
                  <td> {{ item.quantity }} </td>
                  <td> {{ item.expiry_date }} </td>
                  <td>
                    <a href="{{ url_for('inventory.edit_inventory', id=item.productID) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('inventory.delete_inventory', id=item.productID) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No inventory item have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('inventory.add_inventory') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Inventory Item
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}